<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
<link rel="stylesheet" href="/assets/css/code-embeds.css"/>
<link rel="stylesheet" href="/assets/css/highlight-github.css"/>
<style>
	html.theme {
		transition: background-color {{ transitionDuration }} {{ transitionTimingFunction }}, color {{ transitionDuration }} {{ transitionTimingFunction }};
	}
	html.theme .theme-text,
	html.theme a,
	html.theme [data-theme-preview] span {
		transition: color {{ transitionDuration }} {{ transitionTimingFunction }}, background-color {{ transitionDuration }} {{ transitionTimingFunction }};
	}
	html.theme .theme-midtone {
		transition: color {{ transitionDuration }} {{ transitionTimingFunction }};
	}
	/*
		Eleventy Img transform adds width/height attrs;
		Reset the height so images stay proportional at narrow widths
	*/
	img {
		height: auto;
	}
</style>
