{% macro renderPostList(items=[], emptyMessage='No entries found.') %}
  {% set list = items or [] %}
  {% if list | length %}
    <div class="flex flex-column">
      {% for item in list | reverse %}
        <article class="mb4 pb4 bb b--black-10">
          <h2 class="f3 lh-title mb2">
            <a class="link dim theme-text" href="{{ item.url | url }}">{{ item.data.title }}</a>
          </h2>
          <div class="lh-copy">
            {% if item.data.excerpt %}
              {{ item.data.excerpt | safe }}
            {% else %}
              {{ item.templateContent | excerpt(2) | safe }}
            {% endif %}
          </div>
        </article>
      {% endfor %}
    </div>
  {% else %}
    <p class="mid-gray">{{ emptyMessage }}</p>
  {% endif %}
{% endmacro %}
